[Unit]
Description=Monitoring script service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monitor_test.sh
Restart=on-failure
PIDFile=/var/run/monitor_test.pid

[Install]
WantedBy=multi-user.target
